.tool-container{
    width: 100vw;
    min-height: 100vh;
    color: white;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;

}



.tool-main-title{
    text-align: center;
    padding: 50px;
    font-size: 50px;
    text-transform: uppercase;
    user-select: none;
}

.tool-textArea{
    display: block;
    width: 100%;
    resize: none;
    min-height: 25vw;
    padding: 20px;
    border: 3px solid white;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 30px;
    background-color: var(--background-color);
    color: white;

}

.tool-textArea::placeholder{
    color: white;
    opacity: 0.5;
}
.tool-result{
    width: 100%;
    min-height: 25vw;
    padding: 20px;
    border: 3px solid white;
    margin-bottom: 30px;
    display: none;
    flex-direction: column;
    overflow: scroll;
}
.tool-result-text{
    width: 100%;
    height: 100%;
    flex-grow: 1;
   
}

.tool-result-wrapper{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
  
}

.tool-result-wrapper > div{
    border-left: 3px solid white;
    padding: 10px 20px;
    flex: 1;

}
.tool-textArea:focus{
    outline: none;
   

}


#tool1-button-wrapper{
    width: 100%;
    display: flex;
    justify-content: end;
    text-transform: uppercase;
   
    font-size: 18px;
    font-weight: 600;
    

}

#textAarea-btn{
    cursor: pointer;
    padding: 10px 20px;
}

.tool-01-resultContainer{
    margin-top: 50px;
}

.tool-result-box {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 30px;
}
.tool-result-boxSub {
    display: flex;
    gap: 10px;
}

/* page2 */

.canvasContainer{
    height: 500px;
    background-color: rgb(10,10,10);
}


button{
   
    font-size:20px;
    color: white;
    background: rgb(10,10,10);
    padding: 10px 20px;
    border: 3px solid white;
}

button:enabled{
    background: rgb(10,10,10);
    cursor: pointer;
}
button:enabled:hover{
    background: white;
    color:rgb(10,10,10);

}

button:active{
    background: white;
}

button:disabled{
    background: rgb(10,10,10);
    opacity: 0.5;
}


/* page3 */

.canvasContainert{
    height: 500px;
    background-color: red;
}