.tool-container{
    width: 100vw;
    min-height: 100vh;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;

}

.tool-main-title{
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    font-size: 30px;
}

.tool-textArea{
    min-height: 50vw;
    padding: 10px;
    

}

.tool-result{
    min-height: 50vw;
    padding: 10px;
    margin-bottom: 30px;
    
}

.tool-result-wrapper{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}

.tool-result-wrapper > div{
    display: flex;
    gap: 10px;
  
}

#tool1-button-wrapper{
  
    justify-content: center;
  
    background-color: white;
    color: rgb(10,10,10);

}
#textAarea-btn{
    width: 100%;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
}

.canvasContainer{
    height: 300px;
    background-color: rgb(10,10,10);
}

button{
    width: calc(100% - 40px);
   
}

.mobile_alert{
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 10px;
    opacity: 0.7;
}

