:root {
    /* colors */
    --background-color: rgb(255,255,255);
    --home-background: rgb(10,10,10);
    --text-basic-color: rgb(255,255,255);
    --text-basicD-color: rgb(255,255,255);
    --nav-text-color: rgb(255,255,255);
    --nav-background-color: rgb(10,10,10);
    
    /* font sizes */
    --nav-logo-size: 23px;


    /* element sizes */
    --nav-height: 65px;

    /* gaps */
    --global-padding: 0 50px;
    
}

