@Import "./colors.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--text-c1);
    font-family: 'Open Sans', sans-serif;
}