@import "../assets.css";
@import "../nav.css";
@import "./main.css";
@import "../footer.css";

.home-container{
    width: 100vw;
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}