@import "../assets.css";
@import "./assets.css";
@import "../nav.css";
@import "./main.css";
@import "../footer.css";

.process-container{
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background-color: var(--background-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}